<div class="col-sm-8 col-sm-offset-2">
  <form [formGroup]="postForm" (ngSubmit)="onSubmitForm()">
    <div class="form-group">
      <label for="title">Titre</label>
      <input type="text" id="title" class="form-control" formControlName="title">
    </div>
    <div class="form-group">
      <label for="content">Contenu</label>
      <input type="text" id="content" class="form-control" formControlName="content">
    </div>
<button type="submit" class="btn btn-primary" [disabled]="postForm.invalid">Soumettre</button>
  </form>
</div>