<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': post.loveIts > 0,
                'list-group-item-danger': post.loveIts < 0}">
  <h1>{{ post.title }}</h1>
  <h2> Date de rédaction : {{post.created_at | date:'short'}}</h2>
  <p>{{ post.content }}
    </p>
      <button class="btn btn-success" (click)="onLoveIt()">love it</button>
      <button class="btn btn-danger" (click)="onDontLoveIt()">don't love it</button>
      <button class="btn btn-primary" (click)="delete()">Supprimer</button>
</li>
